#simple-translate {
  .simple-translate-panel {
    all: initial;
    position: fixed;
    overflow: hidden;
    background-color: var(--simple-translate-main-bg);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    z-index: 2147483646;
    width: 800px !important;
    height: 600px !important;
    font-size: 16px !important;

    transition-property: opacity, visibility;
    transition-duration: 200ms;
    opacity: 0;
    visibility: hidden;
    &.isShow {
      opacity: 1;
      visibility: visible;
    }

    .simple-translate-result-wrapper {
      all: initial;
      position: absolute;
      font-size: inherit;
      visibility: inherit;
      opacity: inherit;
      box-sizing: border-box;
      width: max-content;
      height: max-content;
      width: -moz-max-content;
      height: -moz-max-content;
      max-width: 100%;
      max-height: 100%;
      overflow: auto;

      .simple-translate-move {
        height: 15px;
        cursor: grab;
      }

      .simple-translate-result-contents {
        padding: 0px 18px 15px;
        p,
        a {
          all: initial;
          display: block;
          margin: 0;
          font-family: "Segoe UI", "San Francisco", "Ubuntu", "Fira Sans",
            "Roboto", "Arial", "Helvetica", sans-serif !important;
          word-wrap: break-word;
          font-size: inherit;
          line-height: 150%;
          visibility: inherit;
          opacity: inherit;
        }

        a {
          color: var(--simple-translate-highlight);
          cursor: pointer;
        }

        &::-moz-selection {
          background: var(--simple-translate-line);
        }

        .simple-translate-result {
          color: var(--simple-translate-main-text);
        }
        .simple-translate-candidate,
        .simple-translate-error {
          color: var(--simple-translate-sub-text);
          margin-top: 1em;
          &:empty {
            margin-top: 0;
          }
        }
      }
    }
  }
}


#simple-translate .simple-translate-panel.isShow {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  right: unset !important;
  bottom: unset !important;
  //bottom: 0 !important;
  //left: 0 !important;
  transform: translate(-50%, -50%);
  background:  #fff !important;
  width: 800px !important;
  margin: 0 auto;
  padding: 0;
  max-height: 100vh !important;
  overflow-y: scroll;
  border-right: 1px solid rgba(0, 0, 0, .25);
  border-left: 1px solid rgba(0, 0, 0, .25);
}
#simple-translate .simple-translate-panel .simple-translate-result-wrapper .simple-translate-result-contents .simple-translate-result {
  color: #111 !important;
}
/*
#simple-translate .simple-translate-button {
  position: fixed !important;
  top:  0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  filter: blur(8px) !important;
  -webkit-filter: blur(88px) !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0,0,0,.8) !important;
  z-index: 999 !important;
  display: block !important;
  border: 0 !important;
  opacity: 1 !important;
  visibility: visible !important;
  border-radius: 0 !important;
}
body > div:not(#simple-translate) {
  filter: blur(4px) !important;
  -webkit-filter: blur(4px) !important;
}
*/
